@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .date {
    @apply text-sm text-gray-500;
  }

  .description {
    @apply text-sm text-gray-300 py-1;
  }

  .clickable {
    @apply cursor-pointer font-bold hover:text-fuchsia-800;
  }

  .accent {
    @apply text-gray-300 bg-fuchsia-800 font-semibold;
  }

  .pill {
    @apply text-xs rounded-3xl px-2 py-1 mr-1 mb-1  inline-block;
  }
}

/* 
h1: Headings
h2: Subheadings
p: Paragraphs
*/

@layer base {
  h1 {
    @apply text-2xl font-bold py-2 sm:text-4xl md:text-6xl;
  }

  h2 {
    @apply text-lg font-bold;
  }

  p {
    @apply text-base;
  }
}

h1 {
  font-size: 18px;
}

p {
  font-size: 16px;
}
